.wrapper div {
  background: #023e8a;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sidebar {
  background-color: #023e8a;
  width: 240px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 350ms;
  z-index: 10;
}
.icon__container {
  background-color: #023e8a;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.icon-nav {
  color: #fff;
}
.profile__container {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: center;
}
.profile__container .text {
  padding-top: 1.4rem;
  color: aliceblue;
}
.icon__profile {
  font-size: 26px;
  cursor: pointer;
  color: aliceblue;
}
