.container {
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.landing__page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .landing__page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
}
.btn-warning {
  margin-right: 2rem;
  padding: 2rem;
}
